@model UserInfo;

@{
    ViewBag.Title = "Başvuru Detayı";
}

<main class="text-center">
    <div class="container">
        <h1 class="h2 mb-4">Başvuru Detayı</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Katılım Durumu</h5>
                <span class="badge bg-@((Model.WillAttend == true) ? "success" : "danger")">
                    @if (Model.WillAttend == true)
                    {
                        <text>Katılıyor</text>
                    }
                    else
                    {
                        <text>Katılmıyor</text>
                    }
                </span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">İsim: @Model.Name</li>
                <li class="list-group-item">Email: @Model.Email</li>
                <li class="list-group-item">Telefon: @Model.Phone</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Meeting" asp-action="List" class="btn btn-outline-@((Model.WillAttend == true) ? "success" : "danger")">Katılımcı Listesi</a>
            </div>
        </div>
    </div>
</main>
