@model UserInfo;

<main class="text-center">
    <div class="container">
        <h1 class="display-4">Toplantı Özeti</h1>

        @if (Model.WillAttend ?? false)
        {
            <p class="lead">Toplantıya sizinle birlikte @ViewBag.UserCount kişi katılıyor.</p>
            <a class="btn btn-lg btn-primary mt-3" asp-controller="Meeting" asp-action="List">Katılımcıları Listele</a>
        }
        else
        {
            <p class="lead">@Model.Name, katılmadığından dolayı üzgünüz.</p>
            <a class="btn btn-lg btn-primary mt-3" asp-controller="Meeting" asp-action="Apply">Katılım Formu</a>
        }
    </div>
</main>
